@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f4f6; /* Och kulrang fon */
}

/* --- INPUTLAR UCHUN MUHIM FIX --- */
/* Bu kod inputlarga yozish va belgilash imkonini qaytaradi */
input, textarea {
  -webkit-user-select: text !important; /* Chrome/Electron uchun */
  user-select: text !important;
  cursor: text !important;
  pointer-events: auto !important;
}